<%- include('../layouts/header') %>
<%- include('../layouts/navbar') %>

<div class="container my-5">
  <h2>Contact Messages</h2>
  <table class="table table-striped">
    <thead><tr><th>Name</th><th>Email</th><th>Message</th><th>Date</th></tr></thead>
    <tbody>
      <% messages.forEach(msg => { %>
        <tr>
          <td><%= msg.name %></td><td><%= msg.email %></td><td><%= msg.message %></td><td><%= msg.created_at %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%- include('../layouts/footer') %>