<%- include('../layouts/header') %>
<%- include('../layouts/navbar') %>

<div class="container my-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h1><%= project.title %></h1>
      <img src="<%= project.image_url || '/images/placeholder.png' %>" class="img-fluid my-3" alt="<%= project.title %>">
      <p><%= project.description %></p>
      <p><strong>Technologies:</strong> <%= project.technologies %></p>
      <% if (project.github_link) { %><a href="<%= project.github_link %>" class="btn btn-dark me-2">GitHub Repo</a><% } %>
      <% if (project.live_link) { %><a href="<%= project.live_link %>" class="btn btn-primary">Live Demo</a><% } %>
      <a href="/projects" class="btn btn-secondary">← Back to Projects</a>
    </div>
  </div>
</div>

<%- include('../layouts/footer') %>